html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.header {
  text-align: center;
}

.header > h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #192a53;
}

#map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

#map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
